@import 'maplibre-gl/dist/maplibre-gl.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#080C14] text-slate-100 antialiased font-sans select-none overflow-x-hidden;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0B0F17;
}
::-webkit-scrollbar-thumb {
  background: #1F2937;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

/* Maplibre container full height */
.maplibregl-map {
  font-family: inherit;
}
